.container {
    max-width: 1224px;
    margin: 0 auto;
 }
 
 img {
    width: 500px;
    object-fit: contain;
    border-radius: 15px;
 }
 
 figure {
    margin: 0;
 }

 .gallery-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 1rem 3rem;
    grid-template-rows: masonry;
 }